<% javascript 'visualization/index.js' %>

<div class="container">
    <h2>
      Visualizations
    </h2>
    <p>
      Below is a network graph showing the connection between judges (red) and donors (blue) in our database.
      The thickness of the link represents the relative dollar amount gifted between the donor and the judge.
      The radius of a node represents the relative dollar amount donated or recieved.
      Hover over the nodes for more information and click for even more.
    </p>
    <div id="chart"></div>
    <p>
        Below is the list of the most frequently used words in proportion to their size.
    </p>
    <div class="span5">
      <%= image_tag "cadatawordie.png" %>
    </div>
</div>