<div class="container">
  <h2>All Judges</h2>
  <div class="row">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>Name</th>
        <th>Total Gift Income</th>
        <th>Agency</th>
      </tr>
      </thead>
      <tbody>
      <% for @judge in @judges %>
        <tr>
          <td><%= link_to "#{@judge.full_name}", judge_path(@judge.id) %></td>
          <td><%= number_to_currency @judge.total_value %></td>
          <td><%= "#{@judge.agency.titlecase}" %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>