<div class="container">
  <h2>Top 10 Judges</h2>
  <div class="row">
    <table class="table table-hover">
      <thead>
      <tr>
        <th></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% for @judge in @top_judges %>
        <tr>
          <td>Name:  <%= link_to "#{@judge.full_name}", judge_path(@judge.id) %></td>
        </tr>
        <tr>
          <td>Total Gift Income: <%= number_to_currency @judge.total_value %></td>
        </tr>
        <tr>
          <td>Agency: <%= "#{@judge.agency.titlecase}" %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <div class="span5">
      <%= image_tag "cadatawordie.png" %>
    </div>
  </div>
</div>