<!-- FOOTER -->
<footer>
    <div class="container">
        <p><a href="http://codeforamerica.org"><%= image_tag "cfalogo.png" %></a></p>
        <p><a href="#abouttext" data-toggle="modal">About</a></p>
    </div>
</footer>