<!-- FOOTER -->
<footer>
    <div class="container">
        <a href="http://codeforamerica.org"><%= image_tag "cfalogo.png" %></a>
        <p><a href="#abouttext" data-toggle="modal">About</a></p>
    </div>

</footer>