<div class="home container">
    <div class="hero-unit">
        <h1>
            OpenJudge
        </h1>
        <div>
            An effort to bring increased visibility of gift income of judges in California.</br>
            Winning entry for the 2012 Data DeathMatch Hackathon hosted by Code for America.
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="span4">
            <h2>Judges</h2>
            <p>Review all of the judges currently in our database.</p>
            <%= link_to "View Judges", judges_path, :class=>"btn" %>
        </div>
        <div class="span4">
            <h2>Donors</h2>
            <p>Review all of the donors currently in our database.</p>
            <%= link_to "View Donors", donors_path, :class=>"btn" %>
        </div>
        <div class="span4">
            <h2>Visualizations</h2>
            <p>See the connections between donors and judges.</p>
            <%= link_to "View Visualizations", visualization_home_index_path, :class=>"btn" %>
        </div>
    </div>
</div>