<div class="home container">
    <div class="hero-unit">
        <h1>
            OpenJudge
        </h1>
        <p>
            The best app in town.
        </p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="span4">
            <h2>Analyze</h2>
            <p>Look at your judge.</p>
            <%= link_to "View Judges", judges_path, :class=>"btn" %>

        </div>
        <div class="span4">
            <h2>Visualize</h2>
            <p>Look at the network graph.</p>
            <%= link_to "View Visualization", visualization_home_index_path, :class=>"btn" %>

        </div>
        <div class="span4">
            <h2>Go mobile</h2>
            <p>Tweet gifts.</p>
        </div>
    </div>
</div>