<div class="container">
    <h2>
      Visualizations
    </h2>
    <p>
      Below is a network graph showing the connection between judges (red) and donors (blue) in our database.
      The width of the link represents the relative amount donated. Hover over the nodes for more information.
    </p>
    <div id="chart"></div>
    <p>
        Below is the list of the most frequently used words in proportion to their size.
    </p>
    <div class="span5">
      <%= image_tag "cadatawordie.png" %>
    </div>
</div>

<div class="infobox">
  <span id="infoboxContent"></span>
</div>

