<h1>Listing judges</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @judges.each do |judge| %>
  <tr>
    <td><%= link_to 'Show', judge %></td>
    <td><%= link_to 'Edit', edit_judge_path(judge) %></td>
    <td><%= link_to 'Destroy', judge, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Judge', new_judge_path %>
