/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require jquery.ui.all
 */

@import "/bootstrap/bootstrap.css";

footer {
  background: url("bgnoise.png") repeat;
  padding-top: 10px;
  position:absolute;
  bottom:0;
  width:100%
}

.content {
  margin-top: 60px;
}

.navbar-inverse .nav .active > a,
.navbar-inverse .nav .active > a:hover,
.navbar-inverse .nav .active > a:focus {
  background-color: #333;
}


/* Downsize the brand/project name a bit */
.navbar .brand {
  padding: 10px; /* Increase vertical padding to match navbar links */
}

/* Navbar links: increase padding for taller navbar */
.navbar .nav > li > a {
  padding: 14px 15px;
  font-size: 16px;
}
