<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,600,300,800,700,400italic|PT+Serif:400,400italic" />
<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<!-- Fav and touch icons -->
<link rel="shortcut icon" href="ico/favicon.ico">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">

<!-- NAVBAR
================================================== -->
<!-- Wrap the .navbar in .container to center it on the page and provide easy way to target it with .navbar-wrapper. -->
<div class="container navbar-wrapper">

<div class="navbar navbar-inverse">
<div class="navbar-inner">
  <!-- Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize. -->
  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </a>
  <a class="brand" href="#"> <img src="assets/openjudgelogo.png"> </a>

  <!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->

  <div class="nav-collapse collapse">
    <ul class="nav">
      <li><a href="#">Home</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#contact">Contact</a></li>


      <!-- Read about Bootstrap dropdowns at http://twitter.github.com/bootstrap/javascript.html#dropdowns -->
      <!--<li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li class="nav-header">Nav header</li>
          <li><a href="#">Separated link</a></li>
          <li><a href="#">One more separated link</a></li>
        </ul>
      </li>-->


    </ul>

    <!-- start search box -->
    <div class="searchboxright">

      <form class="pull-right search">
        <input type="text" class="search-queryindex" placeholder="Search">
      </form>

      <div>
        <!-- end search box -->
      </div><!--/.nav-collapse -->
    </div><!-- /.navbar-inner -->
  </div><!-- /.navbar -->

</div><!-- /.container -->



<!-- tables start
================================================== -->

<div class="container tablesb">
<div class="row">
  <div class="span12 headlinecopy">
    <div class="infoheadline">
      Open Judge Provides Information About Judges
    </div>
    <div class="row tablestboxes">
      <div class="span5">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
          <tbody>
              <% for @judge in @top_judges %>
                  <td><%= link_to "#{@judge.full_name}", judge_path(@judge.id) %></td>
                  <td><%= @judge.total_value %></td>
              <% end %>
          </tbody>
        </table>
      </div>

      <div class="span5">
        <div class="heatmap1">
          <img src="/assets/donarmap.png" width="360px">
        </div>
      </div>
    </div>
  </div>
</div>

<!-- end tables -->


<hr class="featurette-divider">


<div class="span12">

  <div class="row">
    <div class="span6">

      <div class="wordcloud">
        <p>word cloud goes here</p>
      </div>


    </div>
    <div class="span4">
      <a href="#"><img src="/assets/available_on_itunes2.png"></a>


    </div>
  </div>




</div>


<!-- tables end -->




<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">
  <hr class="featurette-divider">
  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="span3 teamb">
      <img class="img-circle" src="http://placehold.it/140x140">
      <h4>Cathryn Posey</h4>
      <ul class="unstyled">
        <li><i class="icon-user icon-large"></i>Brand and design concepts </li>
        <li><i class="icon-twitter icon-large"></i> <a href="http://twitter.com/catpoetry">@catpoetry</li></a>
      </ul>

    </div><!-- /.span3 -->

    <div class="span3 teamb">
      <img class="img-circle" src="http://placehold.it/140x140">
      <h4>Edward Ng</h4>
      <ul class="unstyled">
        <li><i class="icon-user icon-large"></i>Front end Developer </li>
        <li><i class="icon-twitter icon-large"></i><a href="http://twitter.com/gnedster454">@gnedster454</li></a>
      </ul>

    </div><!-- /.span3 -->

    <div class="span3 teamb">
      <img class="img-circle" src="http://placehold.it/140x140">
      <h4>Kamil Pilch</h4>
      <ul class="unstyled">
        <li><i class="icon-user icon-large"></i> Hacker</li>
        <li><i class="icon-twitter icon-large"></i>Not On Twitter... </li>
      </ul>

    </div><!-- /.span3 -->

    <div class="span3 teamb">
      <img class="img-circle" src="http://placehold.it/140x140">
      <h4>Kaming Li</h4>
      <ul class="unstyled">
        <li><i class="icon-user icon-large"></i> iOS Developer</li>
        <li><i class="icon-twitter icon-large"></i> <a href="http://twitter.com/mimi_sf">@mimi_sf</li></a>
      </ul>

    </div><!-- /.span3 -->

    <div class="span3 teamb">
      <img class="img-circle" src="http://placehold.it/140x140">
      <h4>Renee DiResta</h4>
      <ul class="unstyled">
        <li><i class="icon-user icon-large"></i> Hacker</li>
        <li><i class="icon-twitter icon-large"></i><a href="http://twitter.com/noupside"> @noupside</li></a>
      </ul>

    </div><!-- /.span3 -->

    <div class="span3 teamb">
      <img class="img-circle" src="http://placehold.it/140x140">
      <h4>Wayne Suton</h4>
      <ul class="unstyled">
        <li><i class="icon-user icon-large"></i> UI/UX Designer</li>
        <li><i class="icon-twitter icon-large"></i> <a href="http://twitter.com/waynesutton">WayneSutton</li></a>
      </ul></div>
    <!-- /.span3 -->

    <div class="span3 teamb">
      <img class="img-circle" src="http://placehold.it/140x140">
      <h4>Adria Richards</h4>
      <ul class="unstyled">
        <li><i class="icon-user icon-large"></i> Hacker</li>
        <li><i class="icon-twitter icon-large"></i> <a href="http://twitter.com/AdriaRichards"> @AdriaRichards</li></a>
      </ul>

    </div><!-- /.span3 -->



  </div><!-- /.row -->


  <hr class="featurette-divider">

  <!-- /END THE FEATURETTES -->


  <!-- FOOTER -->
  <footer>
    <p class="pull-right"><a href="#">Back to top</a></p>

    <p><a href="http://codeforamerica.org"><img src="/assets/cfalogo.png"></a><br> A #datadeathmatch for #opendata #gov20 #hackathon project &middot; <!-- <a href="#">Privacy</a> &middot; <a href="#">Terms</a> -->
      <!-- AddThis Button BEGIN -->
    <div class="addthis_toolbox addthis_default_style ">
      <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
      <a class="addthis_button_tweet"></a>
      <a class="addthis_button_pinterest_pinit"></a>
      <a class="addthis_counter addthis_pill_style"></a>
    </div>
    <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
    <script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=wayne12"></script>
    <!-- AddThis Button END --></p>
  </footer>

</div><!-- /.container -->



<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script>
    !function ($) {
        $(function(){
            // carousel demo
            $('#myCarousel').carousel()
        })
    }(window.jQuery)
</script>
